/* model */
*.params
*.pth  
*.weights   
*.ckpt*
*.pt


/* image */
*.png
*.jpg
*.jpeg
*.gif


/* video */
*.mp4
*.avi


__pycache__/
*.pyc
*.pyx
*.tar  
*.log 


/* file  */
*.npy  
*.pkl  
*.pyc 
*.json
*.tgz
*.zip

/* other */
*.so
*.pyc
*.DS_Store
*.egg
work_dirs/
data/
